doctype html
html
    head
        title Welcome to the Webapp
        link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand")
        link(rel='stylesheet' href='main.css')
    body

    .container
        .navbar
            h1.head CookingDesigns
        .main
            block content
                .recipe-list
                .category-list
        .footer
            h6.madeBy Made by RomanDesigns

